.about {
  margin: 20px;
  width: 70vw;
  margin: 3vw 0vw 3vw 15vw;
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 28px;
  color: #bcbbbbd0;
  line-height: 1.6;
}
.about-first-box {
  display: flex;
}
.about-second-box {
  display: flex;
}
.about-second-box.show,
.about-third-box.show {
  opacity: 1;
  transform: translateX(0);
}
