.about {
  margin: 20px;
  width: 70vw;
  margin: 3vw 0vw 3vw 15vw;
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 28px;
  color: #bcbbbbd0;
  line-height: 1.6;
}
.about-first-box {
  width: 70vw;
  opacity: 0;
  transition: 2s ease;
  display: flex;
}
.about-second-box {
  display: flex;
  opacity: 0;
  transform: translateX(100%);
  transition: 0.7s ease;
  justify-content: center;
}
.about-third-box {
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.7s ease;
  display: flex;
}
.about-first-box.show,
.about-second-box.show,
.about-third-box.show {
  opacity: 1;
  transform: translateX(0);
}
/* #ben-sanding {
  width: 35vw;
} */

@media only screen and (max-width: 500px) {
}
