.contact-us {
  display: flex;
  color: white;
  min-height: 65vh;
  align-items: center;
}
.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 50vh;
  width: 50vw;
}
.contact-us-form {
  display: flex;
  flex-direction: column;
}
input {
  width: 10vw;
}
.contact-us-image {
  margin: 3vw;
}
#contact-us-image {
  height: 65vh;
  width: 25vw;
}
#contact-us-title {
  font-size: 60px;
}
#contact-us-button {
  border-radius: 10px;
  scale: 1.2;
  width: 6rem;
}
textarea {
  border: none;
  outline: none;
  background-color: #181818;
  color: white;
}
input {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: #181818;
  color: white;
}
