.contact-us {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 65vh;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 10vw;
}
