.design-page {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
.design-box-one {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
#design-page-title {
  display: flex;
  justify-content: center;
}
.design-box-two img {
  height: 50vh;
}
.design-box-two {
  position: relative;
}
.box-two-images {
  width: 100vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5vw;
}
.box-two-left {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}
#wine-cellar-title {
  display: flex;
  justify-content: center;
}
