.design-page {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
#design-page-main-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
#design-page-desc {
  border: 2px solid white;
  padding: 1rem;
  width: 40vw;
  height: 30vh;

  margin-left: 14vw;
  font-size: 25px;
}
.design-box-one {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 40vh;
  margin-bottom: -5vw;
}

/* Video controls */
.video-container {
  position: relative;
  display: inline-block;
  transition: transform 1s ease;
  margin-top: 8px;
}
.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  pointer-events: none;
}
#desk-vid {
  scale: 0.5;
  margin: -8vw 0 0 -64vw;
  cursor: default;
  position: absolute;
}
#rolling-cab-vid {
  scale: 0.5;
  position: absolute;
  cursor: default;
  margin-left: 78vw;
  margin-top: -8vw;
}
#wine-cellar-video,
#walnut-desk-video,
#rolling-cab-video,
#bookcase-video,
#dresser-video {
  height: 65vh;
}

/* titles */
#design-page-title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* Wine  Cellar Info */

.wine-cellar-description {
  width: 50vw;
  padding-left: 25vw;
  font-size: 25px;
}
.design-box-two {
  justify-content: center;
  align-items: center;
  margin: 0 1vw 0 1vw;
  border-bottom: 4px solid white;
  margin-top: 5vw;
}
#sketch-up-wine {
  width: 50vw;
}
.box-two-images-top {
  width: 100vw;
  display: flex;
  gap: 0.5vw;
}
.box-two-bottom {
  width: 99vw;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5vw;
  margin-left: 1vw;
}
#finished-photo {
  transition: transform 1s ease;
  height: 65vh;
  position: relative;
  z-index: 0;
}

/* Box three */
.design-box-three {
  margin-top: 5vw;
  border-bottom: 4px solid white;
}
.box-three-top {
  width: 100vw;
  height: 50vh;
  display: flex;
  gap: 0.5vw;
}
.box-three-bottom {
  width: 98vw;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5vw;
  margin-left: 1vw;
}
.walnut-bookcase-description {
  width: 50vw;
  padding-left: 25vw;
  font-size: 25px;
}

/* dresser */
.design-box-four {
  margin-top: 5vw;
  border-bottom: 4px solid white;
}
.box-four-top {
  width: 100vw;
  height: 50vh;
  display: flex;
  gap: 0.5vw;
}
.box-four-bottom {
  width: 98vw;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 0.5vw;
  margin-left: 1vw;
}
.dresser-description {
  display: flex;
  justify-content: center;
  width: 50vw;
  padding-left: 25vw;
  font-size: 25px;
}
