.footer {
  border-top: 2px solid white;
  width: 95vw;
  margin-left: -18vw;
  color: white;
  display: flex;
  place-content: center;
  justify-content: space-between;
}
.links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer-left {
  margin-left: 5vw;
}
.footer-right {
  margin-right: 5vw;
}
