.footer {
  border-top: 2px solid white;
  width: 95vw;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
}
.links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer-left {
  align-items: center;
  margin-left: 5vw;
}
.footer-right {
  margin-right: 5vw;
}
a {
  color: white;
}
.footer-middle {
  margin-top: 7vw;
}
