.footer {
  border-top: 2px solid white;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: -0.5vw;
  margin-top: 5vh;
}
.links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6vh;
  color: white;
}
.footer-left {
  align-items: center;
  margin-left: 5vw;
}
.footer-right {
  margin-right: 5vw;
}
a {
  color: white;
}
.footer-middle {
  margin-top: 7vw;
}
#facebook-logo {
  padding: 2px;
}
#insta-logo {
  border: 1px solid white;
}

/* responsive design */
@media only screen and (max-width: 700px) {
  .footer-left,
  .footer-right {
    width: 35vw;
  }
  .footer-middle {
    width: 25vw;
  }
  .links-footer {
    display: flex;
    flex-direction: column;
    scale: 1.2;
  }
  #insta-logo {
    margin: -2.5vw;
  }
  .footer {
    background-color: black;
    border-top: 2px solid white;
    width: 100vw;
    margin-left: -2vw;
    overflow: hidden;
    margin-top: -1vw;
  }
}
