#gallery-image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40vh;
  width: 30vw;
  object-fit: cover;
  padding: 20px;
  border-radius: 30px;
}
#gallery-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.gallery-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin-left: -5vw;
}
.com-res-btns {
  color: white;
  display: flex;
  margin-left: -5vw;
  width: 70vw;
  justify-content: space-evenly;
  cursor: pointer;
}
.gallery-next-prev-btn {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vw;
  border-top: 2px solid white;
  color: white;
}

/* details page css */
.details-page-title,
.details-page-desc {
  color: white;
}
.details-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vw;
}
.details-page a {
  color: white;
}
#details-page-img {
  max-height: 90vh;
  max-width: 80vw;
}
