#gallery-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40vh;
  width: 30vw;
  object-fit: cover;
  padding: 20px;
}
.gallery-images-container {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
}
