.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/13.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 2vw 5vw 0vw 5vw;
}

#header-title {
  margin: 1vw 0vw 1vw 0vw;
  color: white;
}

#header-desc {
  color: rgba(211, 211, 211, 0.689);
  margin-top: -0.5vw;
}

.links {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
  margin-top: -1.5vw;
  color: white;
}

img {
  margin-top: 5px;
}
