.home-container {
  font-size: 50px;
  margin-top: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-page-background {
  display: flex;
  position: absolute;
  margin-top: -16vw;
  margin-left: -20vw;
  z-index: -1;
}
#home-page-background-image {
  max-height: 105vh;
  min-width: 100vw;
  overflow: hidden;
}
.description-box {
  color: white;
  display: flex;
  margin-left: -15vw;
  margin-top: -4vw;
}
#bakan-desc-img-one,
#bakan-desc-img-two {
  height: 70vh;
}
.box-one {
  width: 90vw;
}
.text {
  scale: 0.5;
  word-wrap: wrap;
}
