.home-container {
  font-size: 50px;
  margin-top: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-page-background {
  display: flex;
  position: absolute;
  margin-top: -0.5vw;
  margin-left: -0.4vw;
  z-index: -1;
}
#home-page-background-image {
  max-height: 105vh;
  min-width: 100vw;
  overflow: hidden;
  position: fixed;
}
.description-box {
  color: white;
  width: 100vw;
  background-color: black;
  margin-left: -0.5vw;
  padding: 2vw 10vw 2vw 0vw;
}
#bakan-desc-img-one,
#bakan-desc-img-two {
  height: 70vh;
}
#bakan-desc-img-two {
  margin: -20vw 0vw 0vw -8vw;
}

#aspen-desc-img-one,
#aspen-desc-img-two {
  height: 60vh;
}
.box-one {
  display: inline-flex;
  width: 70vw;
  opacity: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.7s ease;
  margin-left: 10vw;
}
.box-two {
  display: inline-flex;
  transition: 0.7s ease;
  transform: translateX(100%);
  margin-top: 4vw;
  margin-left: -10vw;
}
.box-three {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}
.box-three-left {
  display: flex;
  opacity: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.7s ease;
}
.box-three-right {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  right: 0;
  transition: 0.7s ease;
  transform: translateX(100%);
}
.box-three-whole {
  margin-top: -10vh;
}
#home-title-three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text {
  scale: 0.5;
  margin-top: -14vw;
}
.home-text p {
  width: 70vw;
  z-index: 1;
}
#box-two-p {
  margin-left: 5vw;
}
#box-three-title {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 2s ease;
  scale: 0.5;
  margin: 2vw 0 0 0vw;
}
.box-one.show,
.box-two.show,
.box-three-left.show,
.box-three-right.show,
#box-three-title.show {
  opacity: 1;
  transform: translateX(0);
}

#home-page-nav {
  border-top: none;
  margin-top: 2vw;
}

/* Responsive design attributes */
@media only screen and (max-width: 1500px) {
  .description-box {
    width: 100vw;
  }
  .box-one {
    flex-direction: column;
    justify-content: center;
  }
  .box-two {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  #box-two-p {
    margin: 0;
  }
  .home-text p {
    width: 100vw;
    margin: 0;
  }
  #bakan-desc-img-two {
    width: 80vw;
  }
  .box-three-whole {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .home-container {
    font-size: 30px;
    margin-top: 50vh;
    margin-left: -2vw;
    overflow: hidden;
    width: 102vw;
  }
  #home-page-background-image {
    width: 100vw;
    scale: 3;
    margin-top: 20vw;
    margin-left: -10vw;
    overflow: hidden;
    position: fixed;
  }

  .description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 105vw;
  }

  #bakan-desc-img-one,
  #bakan-desc-img-two,
  #aspen-desc-img-one,
  #aspen-desc-img-two {
    height: 40vh;
  }
  #bakan-desc-img-one {
    margin: 5vw 0 -10vw 0;
    width: 70vw;
  }
  .box-one {
    display: flex;
    align-items: center;
    opacity: 1;
    margin-bottom: -50vw;
  }
  .box-two {
    display: flex;
    align-items: center;
    margin-top: 16vw;
  }
  #bakan-desc-img-two {
    margin: 0;
  }
  #box-two-p {
    margin-left: -1vw;
  }
  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.8;
    margin-top: -5vw;
  }
  .home-text p {
    width: 90vw;
  }
  .box-one,
  .box-two {
    width: 90vw;
    margin-left: 0;
    transform: none;
    display: flex;
    flex-direction: column;
  }

  .box-three {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-three-whole {
    margin-top: 0;
  }
  #home-title {
    display: flex;
    align-items: center;
    text-decoration: underline;
    place-content: center;
  }
  #home-title-three {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #box-three-title {
    scale: 0.8;
    margin-top: 5vw;
  }
  .box-three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #slide-show-title {
    text-decoration: underline;
    width: 95vw;
    padding-left: 1vw;
    text-align: center;
  }
  .photo-slide-whole {
    width: 102vw;
  }
}
