.home-container {
  font-size: 50px;
  margin-top: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-page-background {
  display: flex;
  position: absolute;
  margin-top: -0.5vw;
  margin-left: -0.4vw;
  z-index: -1;
}
#home-page-background-image {
  max-height: 105vh;
  min-width: 100vw;
  overflow: hidden;
  position: fixed;
}
.description-box {
  color: white;
  width: 100vw;
  background-color: black;
  margin-left: -0.5vw;
  padding: 2vw 10vw 2vw 0vw;
}
#bakan-desc-img-one,
#bakan-desc-img-two {
  height: 70vh;
}
#bakan-desc-img-two {
  margin: -20vw 0vw 0vw -8vw;
}

#aspen-desc-img-one,
#aspen-desc-img-two {
  height: 60vh;
}
.box-one {
  display: inline-flex;
  width: 70vw;
  opacity: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.7s ease;
  margin-left: 10vw;
}
.box-two {
  display: inline-flex;
  transition: 0.7s ease;
  transform: translateX(100%);
  margin-top: 4vw;
  margin-left: -10vw;
}
.box-three {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}
.box-three-left {
  display: flex;
  opacity: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.7s ease;
}
.box-three-right {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  right: 0;
  transition: 0.7s ease;
  transform: translateX(100%);
}
.box-three-whole {
  margin-top: -10vh;
}
.home-text {
  scale: 0.5;
  word-wrap: wrap;
  margin-top: -14vw;
}
.home-text p {
  width: 70vw;
  z-index: 1;
}
#box-two-p {
  margin-left: 5vw;
}
#box-three-title {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 2s ease;
  scale: 0.5;
  margin: 2vw 0 0 0vw;
}
.box-one.show,
.box-two.show,
.box-three-left.show,
.box-three-right.show,
#box-three-title.show {
  opacity: 1;
  transform: translateX(0);
}

#home-page-nav {
  border-top: none;
  margin-top: 2vw;
}
/* #transition-banner {
  margin-top: -1vw;
  height: 10vh;
  width: 100vw;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
} */
