.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 80vw;
  margin: 1vw 0vw 1vw 10vw;
  text-align: center;
  margin-top: 1rem;
  border-top: 2px solid white;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.nav-bar a {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 0 3rem;
  font-size: 1.2rem;
  border-left: 1px solid var(--color-border);
}

.nav-link {
  text-decoration: none;
  color: white;
  border-left: 1px solid white;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.308);
}

.one {
  border-left: none;
}

.nav-link:focus {
  background-color: transparent !important;
}

/* responsive design */
@media only screen and (max-width: 500px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    background-color: red;
  }
}
