.photo-slide-whole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: black;
  width: 101vw;
  margin: 0 0 1vw -0.5vw;
}

.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 60vw;
  object-fit: contain;
  margin: 1vw 0vw 1vw 0vw;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.photo-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.slide-image.active {
  opacity: 1;
}

.slide-images {
  transition: 1s ease-in-out;
  overflow: hidden;
}

.next-prev-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.prev,
.next {
  cursor: pointer;
  top: 40%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.7s ease;
  text-decoration: none;
  user-select: none;
  opacity: 0;
  transform: translateX(-100%);
  padding: 5px;
}

.next {
  right: 0;
  transform: translateX(100%);
}
#slide-show-text {
  scale: 0.5;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.slide-show-text {
  display: flex;
  justify-content: center;
}
.prev {
  left: 0;
}

.prev.show,
.next.show {
  opacity: 1;
  transform: translateX(0);
}

.prev:hover,
.next:hover {
  background-color: rgba(253, 253, 253, 0.503);
  border-radius: 5px;
}
.text h3 {
  color: rgba(211, 211, 211, 0.689);
}
#slide-show-title {
  font-size: 2rem;
}
.slide-show-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#slide-show-desc {
  word-wrap: wrap;
  width: 70vw;
  font-size: 1.5rem;
}

/* responsive design */

@media only screen and (max-width: 700px) {
  .photo-slide-whole {
    width: 103vw;
  }
  .slide-image {
    height: 30vh;
  }
}
