.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 60vw;
  object-fit: contain;
  margin: 1vw 0vw 5vw 0vw;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.photo-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.slide-image.active {
  opacity: 1;
}

.slide-images {
  transition: 1s ease-in-out;
}

.next-prev-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
  top: 40%;
  width: auto;
  margin: 80px;
  margin-top: -3vw;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.7s ease;
  text-decoration: none;
  user-select: none;
  opacity: 0;
  transform: translateX(-100%);
}

.next {
  right: 0;
  transform: translateX(100%);
}

.prev {
  left: 0;
}

.prev.show,
.next.show {
  opacity: 1;
  transform: translateX(0);
}

.prev:hover,
.next:hover {
  background-color: rgba(253, 253, 253, 0.503);
  border-radius: 10px;
}
