/* Pop-up window css */
.pop-up {
  display: flex;
  width: 80vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-left: 10vw;
  background-color: rgba(0, 0, 0, 0.868);
  border-radius: 20px;
}
.pop-up-window:focus {
  outline: none;
}
.pop-up-result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40vw;
}
#pop-up-image-desc {
  scale: 1.2;
}
#pop-up-image {
  height: 30vw;

  border-radius: 5px;
}
#pop-up-title {
  text-decoration: underline;
}
#close-out-popup-btn {
  opacity: 0;
}

@media only screen and (max-width: 700px) {
  #pop-up-title {
    width: 60vw;
    text-align: center;
  }
  #pop-up-image {
    height: 55vw;
    width: fit-content;
  }
  #close-out-popup-btn {
    position: relative;
    font-weight: bold;
    font-size: larger;
    margin-left: 50vw;
    margin-top: -20vw;
    opacity: 1;
  }
}
