.contact-us {
  display: flex;
  color: white;
  min-height: 65vh;
  justify-content: space-evenly;
}
.contact-us-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
  height: 45vh;
  width: fit-content;
  padding: 4vw;
  margin: 10px;
}
.contact-us-form {
  display: flex;
  flex-direction: column;
}
.contact-us-labels {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contact-us-image {
  margin: 3vw;
}
#contact-us-image {
  max-height: 65vh;
  max-width: 30vw;
}
#contact-us-title {
  font-size: 60px;
}
#contact-us-button {
  border-radius: 10px;
  scale: 1.2;
  width: 6rem;
  color: white;
  padding: 3px;
  background-color: rgb(34, 34, 168);
}
input {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: #181818;
  color: white;
}
h2 {
  text-decoration: underline;
}
@media only screen and (max-width: 700px) {
  .contact-us {
    overflow: hidden;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-us-image {
    width: 90vw;
  }
}
