.contact-us {
  display: flex;
  color: white;
  min-height: 65vh;
  justify-content: space-evenly;
}
.contact-us-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
  height: 45vh;
  width: fit-content;
  padding: 4vw;
  margin: 10px;
}
.contact-us-form {
  display: flex;
  flex-direction: column;
}
.contact-us-labels {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contact-us-image {
  margin: 3vw;
}
