.banner-container {
  height: 5vh;
  width: 100vw;
  margin-left: -0.4vw;
  background-color: rgba(255, 255, 255, 0.877);
  position: fixed;
  margin-top: -0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}
.top-banner-right {
  margin-right: 2vw;
  color: black;
  scale: 1.4;
  z-index: 1000;
}
.top-banner-left {
  margin-left: 1vw;
  scale: 0.8;
}
#top-banner-home-link {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 0px 2px 0px 2px;
}

.banner-container.hide {
  transform: translateY(-100%);
}

.banner-container.show {
  transform: translateY(0);
}
.menu {
  position: absolute;
  width: 8vw;
  right: -1vw;
  top: 2.8vh;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.877);
  z-index: 1000;
  /* transition: transform 0.5s ease-in-out; */
  border-radius: 10px;
}
.menu.hide {
  transform: translateY(-100%);
}
.menu-show {
  transform: translateY(0);
}
ul {
  list-style-type: none;
}
#menu-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#menu-link:hover {
  background-color: rgba(0, 0, 0, 0.393);
}
.top-banner-center {
  display: flex;
  gap: 2vw;
}
