.banner-conatiner {
  height: 5vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.877);
  position: fixed;
  margin-top: -0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-header-right {
  margin-right: 2vw;
}
.top-header-left {
  margin-left: 1vw;
}
#top-header-home-link {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 0px 2px 0px 2px;
}
