.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.563);
    background-image: url('./assets/13.JPG');
    background-size: auto;
    background-repeat: none;
    margin: 0vw 10vw 0vw 10vw;
}

.greetings h1,
h3 {
    margin: -1px;
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}