.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-image: url('./assets/13.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1vw 10vw 0vw 10vw;
}

.greetings h1{
    margin: 1vw 0vw 1vw 0vw;
    color: white;
}

h3{
    color: rgb(97, 96, 96);
    margin-top: -1vw;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    margin-top: -1vw;
}